.divPlansAndServices {
    background: #fff;
    color: var(--main-color) !important;
}

.divPlans {
    position: relative;
    height: 42vh;
}

.plansHeader {
    color: var(--light-color) !important;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: -55px;
    left: 47%;
}

.plans {
    position: absolute;
    top: -80px;
    color: #fff;
    width: 100%;
}

.plansDeck {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.plansCardDark,
.plansCardLeft,
.plansCardRight {
    width: 400px;
    height: 380px;
    border-radius: 30px;
    background: var(--lighter-color);
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: normal;
    padding: 40px;
    box-shadow: 0px 0px 15px #12121360;
}

.plansCardDark {
    background: var(--sub-color);
    height: 440px;
    z-index: 200;
}

.plansCard {
    background: var(--lighter-color);
}

.plansCardLeft {
    margin-right: -40px;
}

.plansCardRight {
    margin-left: -40px;
}

.plansCardTitle {
    font-weight: 700;
    font-size: 35px;
    padding: 0 40px;
    text-shadow: 0px 0px 75px #babaddf4;
}

.plansCardBadge {
    margin: 20px auto;
    width: 200px;
    height: 40px;
    border: none;
    color: #fff;
    background: var(--main-color);
    font-weight: 700;
}

.plansCardBadgeShadow {
    background: var(--light-color);
    border: none;
    color: #fff;
}

.plansCardDescription {
    color: var(--darker-color);
    font-weight: 600;
    padding: 30px;
    line-height: 1.5;
}

.plansCardDescriptionDark {
    color: var(--lighter-color);
    font-weight: 600;
    padding: 30px;
    line-height: 1.5;
}

.plansMotto {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    width: 60%;
    color: var(--sub-color)
}

.plansHeader2 {
    text-align: center;
    margin: 40px auto;
    font-size: 25px;
    color: var(--black-color);
    font-weight: 800;
}

.servicesDeck {
    width: 85%;
    margin: auto;
}

.servicesCard {
    height: 300px;
    margin: auto;
    width: 100%;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.serviceHeader {
    font-weight: 800;
    color: #475E58;
    font-size: 22px;
    margin-bottom: 8px;
}

.serviceList {
    color: #475E58;
}


@media only screen and (min-width:300px) {

    .plansDeck {
        max-width: 375px;
        overflow-x: auto;
        margin: auto;
    }

    .plansHeader {
        color: var(--light-color) !important;
        font-weight: 700;
        font-size: 25px;
        position: absolute;
        top: -55px;
        left: 30%;
    }

    .plansCardTitle {
        font-size: 25px
    }

    .plansCardLeft {
        margin-left: 390px;
        width: 600px;
    }

    .dialog1,
    .dialog2 {
        display: flex;
        max-width: 100vw;
        overflow-x: auto;
    }

    .plansCardLeft,
    .plansCardRight {
        height: 395px;
    }

    .plansCardTitle {
        font-size: 20px;
    }

    .plansMotto {
        margin-top: 130px;
        font-size: 18px;
    }

    .plansHeader2 {
        font-size: 18px;
    }
}

@media only screen and (min-width:1024px) {
    .plansDeck {
        max-width: 80%;
        margin: auto;
    }

    .plansCardLeft {
        margin-left: 0;
        width: 400px;
    }

    .plansMotto {
        margin-top: 120px;
    }


    .plansHeader {
        left: 47%;
    }

    .plansDeck {
        width: 90%;
        margin: auto;
    }

    .plansCardTitle {
        font-size: 25px
    }

    .plansCardDark,
    .plansCardLeft,
    .plansCardRight {
        width: 400px;
        height: 380px;
        border-radius: 30px;
        background: var(--lighter-color);
        display: flex;
        text-align: center;
        flex-direction: column;
        line-height: normal;
        padding: 40px;
        box-shadow: 0px 0px 15px #12121360;
    }

    .plansCardDark {
        background: var(--sub-color);
        height: 440px;
        z-index: 200;
    }
}

@media only screen and (min-width:1152px) {
    .plansMotto {
        margin-top: 100px;
    }
}

@media only screen and (min-width:1280px) and (min-height:500px) {
    .plansMotto {
        margin-top: 155px;
    }
}

@media only screen and (min-width:1280px) and (min-height:760px) {
    .plansMotto {
        margin-top: 75px;
    }
}

@media only screen and (min-width:1360px) {
    .plansMotto {
        margin-top: 135px;
    }
}

@media only screen and (min-width:1440px) {
    .plansMotto {
        margin-top: 70px;
    }
}

@media only screen and (min-width:1680px) {
    .plansMotto {
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
        font-weight: 800;
        width: 60%;
        color: var(--sub-color)
    }

    .plansHeader2 {
        text-align: center;
        margin: 40px auto;
        font-size: 25px;
        color: var(--black-color);
        font-weight: 800;
    }
}